* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F7F4;
    font-family: Nunito Sans;
    color: #5C5555;
}

header {
    height: 4rem;
    width: 100vw;
    gap: 2rem;

    display: flex;
    align-items: center;
}

main {
    height: 91.5vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Poppins;
    font-size: 3.5rem;
    color: #1A1A1A;
}

.germany-flag {
    width: 3.5rem;
}

.us-flag {
    width: 3.5rem;
}

#logo {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 400;

    margin-left: 8rem;

    background: linear-gradient(to top, #D4214B, #A40EB1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about-us {
    color: #343232;
}

#right-image {
    width: 30rem;
}

#left-container {
    height: 17.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1150px) {
    main {
        height: 91.5vh;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header {
        height: 4rem;
        width: 100vw;
        gap: 2rem;
    
        display: flex;
        align-items: center;
    }

    #logo {
        font-family: Poppins;
        font-size: 1.5rem;
        font-weight: 400;
    
        margin-left: 8rem;
    
        background: linear-gradient(to top, #D4214B, #A40EB1);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (min-width: 451px) and (max-width: 1150px) {
    main {
        height: 91.5vh;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        height: 4rem;
        width: 100vw;
        gap: 2rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #logo {
        font-family: Poppins;
        font-size: 1.5rem;
        font-weight: 400;
    
        margin: 0;

        background: linear-gradient(to top, #D4214B, #A40EB1);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}